.message
  .chat-main__messages-list__block
    .chat-main__messages-list__block--top
      .chat-main__messages-list__block--top__left
        = message.user.name
      .chat-main__messages-list__block--top__right
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .chat-main__messages-list__block--bottom
      - if message.content.present?
        %p.lower-message__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?