* {
    box-sizing: border-box;
  }

.wrapper{
    display: flex;
}

 .side-ber{
    background-color: #253141;
    width: 300px;
    height: 100vh;
      &__user-name{
        background-color: #253141;
        height: 100px;
        padding: 0 20px;
        display: flex;
        align-items: center;
       
        &--box{
          width: 260px;
          height: 20px;
          display: flex;
          justify-content: space-between;
            .name{
              color:#ffffff;
              font-size: 16px;
              line-height: 20px;
            }
          &__right{
            width: 60px;
            height: 20px;
            line-height: 20px;
            &-icon{
              float: right;
                .edit__btn{
                  color: #ffffff;
                  padding-right: 5px;  
                  text-decoration: none;
                        }
                .user-edit__btn{
                  color: #ffffff;
                        }
                } 
            } 
        }     
    }


      &__group-list{
        overflow-y: scroll;
        background-color: #2f3e51;
        height: calc(100vh - 100px);
        padding: 0 20px;
        padding-top: 20px;
          .group{
            color: white;
            font-size: 15px;

            padding-bottom: 5px;
            text-decoration: none;
            display: block;
        }
          .commnet{
            color: white;
            font-size: 11px;
            padding-bottom: 40px;
            text-decoration: none;
            display: block;
        }
    }
}


.chat-main{
  background-color:#ffffff;
  width: calc(100vw - 300px);
  height: 100vh;
    &__group{
      display: flex;
      border-bottom: solid #eeeeee 1px;
      &--info{
        background-color:#ffffff;
        height: 100px;
        width: calc(100vw - 300px);
        
        position: relative;
        &__left{
          font-size: 20px;
          color: #333333;
          padding-top: 35px;
          padding-bottom: 15px;
          padding-left: 40px;
        }
        &__bottom{
          color: #999999;
          font-size: 12px;
          padding-left: 40px;
          position: absolute;
          bottom: 0px;
        }
     }  
  }
    &__group--right{
      font-size: 16px;
      text-align: center;
      line-height: 40px;
      margin-top: 28px;
      margin-right: 40px;
      width: 72px;
      height: 40px;
      border: #38aef0 solid 1px;
        .edit__btn{
          color: #38aef0;
          text-decoration: none;
        }
    }
  &__messages-list{
    background-color: #fafafa;
    height: calc(100vh - 100px - 90px);
    width: calc(100vw - 300px);
    padding-top: 35px;
    overflow-y: scroll;
      &__block{
        margin-left: 40px;
          &--top{
            display: flex;
            &__left{
              color: #333333;
              font-size: 16px;
              }
              &__right{
                color: #999999;
                font-size: 12px;
                margin-left: 10px;
              }
          }
          &--bottom{
            color: #434A54;
            font-size: 14px;
            padding-top: 12px;
            padding-bottom: 46px;
          }
      }
  }
  &__messages-form{
      background-color: #d2d2d2;
      height: 90px;
      width: calc(100vw - 300px);
      display: flex;
      justify-content: space-between;
      align-items: center;
     &--left{
       height: 50px;
       width: 100%;
       background-color: white;
       margin-left: 40px;
       line-height: 50px;
       display: flex;
       position: relative;
       &__text{
           width: 100%;
         .textarea{
           color: #434a54;
           line-height: 50px;
           border-style: none;
           width: 100%;
           padding-left: 10px;
           padding-right: 10px;
         }    
        }
         &__image{
           position: absolute;
           top:10px;
           right: 10px;
            .image__btn{
              height: 30px;
              line-height: 30px;
              background-color:white;
              font-size: 1.3rem;
              position: absolute;
              right: 0px;
              cursor: pointer;
              .btn{
                display: none;
              }
            }
         }
      }
      &--right{
        height: 50px;
        width: 100px;
        background-color: #38aef0;
        color: white;
        line-height: 50px;
        text-align: center;
        margin-right: 40px;
        margin-left: 15px;
        padding: 0 30px;
        }
      }
}
